body {
  background-color: black;
}

#wrapper{
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid red;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(6,1fr);
}


header {
  grid-column: span 6;
  background: red;
  padding-left: 1em;
}

  /* nav li {
  grid-column: span 1;
}  */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 200px;
}

nav li a {
  display: block;
  background-color: red;
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
}

main {
  grid-column:span 4;
  padding: 0 1em 1em;
}

#bob {
  float: right;
  margin-left: 1em;
}

aside {
  background-color: #8c8cf9;
}

footer {
  grid-column: span 6;
  background-color: yellow;
}
