#Fires { 

color:blue;
}

h1 {
    color:white;
   
}

#dive {
    background-color: lightblue;
}

a:hover {
color: red;
}

a {
    color: green;
}

.orange {
    color: orange;
}

h3 {
    background-color: yellow;
}

.red {
    color: red;
}

h4 {    
    color: yellow;
    background-color: green;
}

.green {
    background-color: lightgreen;
}